<style type="text/css">
<!--
body {
background-color: #999999;
font-size:12px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}
div#wrapper {
margin-left: auto;
}
div#header {
margin-top: 15%;
}
#searchwrapper {
width:489px; /*follow your image's size*/
height:80px;/*follow your image's size*/
background-image:url(images/largesearch.png);
background-repeat:no-repeat; /*important*/
padding:0px;
margin:0px;
margin-left: auto;
margin-right: auto;
position:relative; /*important*/
}
#searchwrapper form { display:inline ; }
.searchbox {
border:1px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:10px;
left:20px;
width:424px;
height:32px;
/*color: #FFFFFF;*/
}
.searchbox_submit {
border:0px; /*important*/
background-color:transparent; /*important*/
position:absolute; /*important*/
top:15px;
right:15px;
width:29px;
height:24px;
}

.socialbutton{
border: 0 none;
}

#mainpage{
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
display:none;
overflow:hidden;
border:none;
}

.radiobox {
vertical-align:150%;
}


#radioboxes {
vertical-align:middle;
position:relative;
}

div#radiosearch{
margin-top: 1%;
margin-left: auto;
margin-right: auto;
}
div#socialbuttons{
position:absolute;
right:50px;
bottom:40px;
}
div#main {
margin-left: 30%;
margin-top: 1px;
padding: 10px;
}
div#footer {
padding: 15px;
margin: 0px;
border-top: thin solid #ffffff;
}

.searchbox:focus {outline: none;}
-->
</style>
