html {
	height:90%;
}

body {
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#FFFFFF;
	height:90%;
	font-family:Tahoma, Geneva, sans-serif;
}

#map_box {
	margin: 0px auto 0% auto;
	height:80%;
	width:70%;
	background-color:#006d00;
	position:absolute;
	left:0px;
	top:97px;
}

#adspace{
	position:absolute;
	top:35px;
	left:120px;
}

td
{
margin: auto 2px 1px 2px;
}
#sidebar {
	margin: auto 20px 0px auto;
	float:right;
	position:absolute;
	right:0px;
	top:30px;
}

#searchwrapper {
width:310px;
height:80px;
background-image:url(images/searchbox.png);
background-repeat:no-repeat;
padding:0px;
margin:0px;
position:relative;
}
 
#searchwrapper form { display:inline ; }

.searchbox {
border:0px;
background-color:transparent;
position:absolute;
top:4px;
left:9px;
width:200px;
height:32px;
/*color: #FFFFFF;*/
}
 
.searchbox_submit {
border:0px;
background-color:transparent;
position:absolute;
top:10px;
right:70px;
width:29px;
height:24px;
}

#school_info_box {
	/*margin: 0px auto 0px auto;*/
	position:absolute;
	float:right;
	right:0%;
	width:30%;
	height:80%;
	top:97px;
}

#schoolHuntLogo {
	margin: 0px auto 0px auto;
	position:absolute;
	left:0;
	bottom:0;
}
#wrapper {position:relative;}

.tabbed_box h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:23px;
	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom:10px;
}
.tabbed_box h4 small {
	color:#e3e9ec;
	font-weight:normal;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	position:relative;
	top:-4px;
	left:6px;
	letter-spacing:0px;
}

.tabbed_area {
	padding:0px;
	width:100%;
	/*height:90%;*/
	border-style:none;
}


ul.tabs li {
	list-style:none;
	display:inline;
}

ul.tabs li a {
	background-color:#464c54;
	color:#ffebb5;
	padding:8px 14px 8px 14px;
	text-decoration:none;
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	border:1px solid #464c54;
}
ul.tabs li a:hover {
	background-color:#2f343a;
	border-color:#2f343a;
}
ul.tabs li a.active {
	background-color:#ffffff;
	color:#282e32;
	border:1px solid #464c54;

}

.content_list_name {
    color: #666;
}

#content_list .content_list_name {
    display: inline-block;
    width: 100px;
}

h3 {
    margin-bottom: 0;
}

.content {
	background-color:#ffffff;
/*	padding:10px;*/
	overflow:auto;
	height:100%;
	position:relative;
	top:5px;

}
#content_rank, #content_school { display:none; }

ul.tabs {
	margin:0px; padding:0px;
	margin-top:5px;
	margin-bottom:6px;
}
.content ul {
	margin:0px;
	padding:0px 20px 0px 20px;
}
.content ul li {
	list-style:none;
	border-bottom:1px solid #d6dde0;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}
.content ul li a {
	text-decoration:none;
	color:#3e4346;
}
.content ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}
.content ul li:last-child {
	border-bottom:none;
}
ul.tabs li a {
	background-image:url(images/tab_off.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}
ul.tabs li a.active {
	background-image:url(images/tab_on.jpg);
	background-repeat:repeat-x;
	background-position:top;
}
.searchradio{
	position:relative;
	top:5px;
}
.content {
	/*background-image:url(images/content_bottom.jpg);
	background-repeat:repeat-x;
	background-position:bottom;*/
}
.searchbox:focus {outline: none;}
